<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0
    <link rel="stylesheet" href"../statics/styles/desing.css">
    <link rel="icon" href"../statics/media/img/logo.jpg">
    <title>Yo merengues>/title>
</head>
<body>
  <h1>Hola soy Miriam!!</h1> 
  <h2>Y me voy a presentar...<img src="../statics/media/img/yendo.jpg" alt="meme" width="80" height="90"></h2> 
  <img src="../statics/media/img/yopp.jpg" alt="yooo" width="249" height="300">
  <br>
    Tengo cierto gusto por la historia en la edad media y conocer sobre las ideologías, por lo que me agrada ver videos o documentales,
    sobre todo biografías de personas que de alguna manera ahora son relevantes en la historia o que fueron olvidados por asuntos injustos 
    <br>
    Tambien me gusta conocer costumbres "raras" que aún persisten en la actualidad mediante documentales,  
    los cuales me hacen a veces divagar sobre mi existencia xd
    <br>
    Tengo un graaaan gusto por la cultura asiatica, sobre todo las series y películas :v
    <br>
    <br>
    <strong>Durante el curso web la he sufrido pero mis temas favoritos han sido...</strong>  
    <p><i><strong>CSS</strong></i>
    <ul>
        <li>Formar figuras</li>
        <li>Ponerle fondo a la pagina completa</li>
        <li>crear animaciones</li>
    </ul>
    </p>
    <p><i><strong>PHP</strong></i>
        <ul>
            <li>Crear variables</li>
            <li>Recibir la información de formularios</li>
            <li>El manejo de arreglos y cadenas</li>
        </ul>
    </p>
    <p><i><strong>HTML</strong></i>
        <ul>
            <li>Tablas</li>
            <li>Formularios</li>
            <li>Insertar imagenes</li>
            <li>Listas ordenadas/desordenadas </li>
        </ul>
    </p>
    <strong>Mis películas favoritas</strong> 
    <ol>
        <li>Milagros del cielo</li> 
        <li>El increíble castillo vagabundo</li>
        <li>El diario de la princesa 1 y 2</li>
        <li>Your name</li>
        <li>Juego de gemelas</li>
        <li>She's dating the ganster</li>
        <li>Call me by your name</li>
        <li>Mi primer beso *me manda a terapia cada vez que la veo*</li>
    </ol>
    <br>
    <strong>Mi comida favorita</strong>
    <ul type="square">
        <li>Costilla al carbón</li>
        <li>Pozole</li>
        <li>Sushi</li>
        <li>Huevito con catsup</li>
    </ul> 
    <strong>Canciones para cada situación</strong>
    <br>
    <iframe src="https://youtu.be/sEetXo3R-aM" width="500" height="250" ></iframe>
    <br>
    <a class= "enlacePro" href="https://youtu.be/uyaKoj7wABY">Para saber que si puedo con la vida</a>
    <br>
    <a class= "enlacePro" href="https://youtu.be/8F7Q-4PZCjA">Me pone feliz</a>
    <br>
    <a class= "enlacePro" href="https://youtu.be/tt6SOhoV7pw">Cuando me querian bonito</a>
    <br>
    <a class= "enlacePro" href="https://youtu.be/Pd8W9WtMXDw">Para finjir que llevo 3 divorcios</a>
    <br>
    <a class= "enlacePro" href="https://youtu.be/2lSyHZLzNYA">Recordar que debo aprender a olvidar</a>
    <br>
    <a class= "enlacePro" href="https://youtu.be/lZHA8hyrTUQ">Creer en el amor por unos minutos</a>
    <br>
    <a class= "enlacePro" href="https://youtu.be/sEetXo3R-aM">Me transporta</a> 
    <br>
    <a class= "enlacePro" href="https://youtu.be/7HDeem-JaSY">Pa' sentirse enpoderada</a>
    <strong>Mis personajes favoritos</strong
    <br>
    <br>
    <table border="3" align="left" style="border-collapse:inherit;" cellpadding="20px" >
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Foto</th>
                <th>Explicación</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Garfield (Garfield:la película)</td>
                <td><img src="../statics/media/img/gato.jpg" alt="garfield" width="170" height="180"></td>
                <td>Era mi película favorita en la infancia ese gato es genial y sus ocurrencias es aún mejor, 
                    como amo a ese gato, lo raro es que ahora me dan miedo ._.</td>
            </tr>
            <tr>
                <td>Howl (El increíble castillo vagabundo)</td>
                <td><img src="../statics/media/img/howl.jpg" alt="guapote" width="170" height="180"></td>
                <td>Este hombre es hermoso por todos lados, tiene un corazón hermoso, de mis primeros flechazos de fantasía</td>
            </tr> 
            <tr>
                <td>Gu Jun Pyo (Boys over flowers)</td>
                <td><img src="../statics/media/img/jun_pyo.jpg" alt="bb" width="170" height="190"></td>
                <td>El personaje es toxico pero con personalidad hermosa, el vato anda traumado pero yo lo amo
                    <img src="../statics/media/img/betty.jpg" alt="betty" width="70" height="80">
                </td>
            </tr>   
        </tbody>
    </table>
   <p id="linea"><strong>dibujito en css</strong></p>
    <br>
    <div id="dibujo">
        <div id="pel">
            
        </div>
        <br>
    </div>
</body>
</html>
